<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sceon.community.mapper.QuestionMapper">
    <resultMap id="questionMap" type="com.sceon.community.model.Question">
        <id column="id" property="id" jdbcType="BIGINT"></id>
        <result column="title" property="title" jdbcType="VARCHAR"></result>
        <result column="descriptions" property="descriptions" jdbcType="VARCHAR"></result>
        <result column="gmt_create" property="gmtCreate" jdbcType="BIGINT"></result>
        <result column="gmt_modified" property="gmtModified" jdbcType="BIGINT"></result>
        <result column="creator" property="creator" jdbcType="BIGINT"></result>
        <result column="comment_count" property="commentCount" jdbcType="INTEGER"></result>
        <result column="view_count" property="viewCount" jdbcType="INTEGER"></result>
        <result column="like_count" property="likeCount" jdbcType="INTEGER"></result>
        <result column="tag" property="tag" jdbcType="VARCHAR"></result>

    </resultMap>
    <insert id="create" parameterType="com.sceon.community.model.Question" >
        INSERT INTO QUESTION
            (id,title,descriptions,gmt_create,gmt_modified,creator,tag)
        VALUES
            (#{id},#{title},#{descriptions},#{gmtCreate},#{gmtModified},#{creator},#{tag})


    </insert>
    <select id="listQuestion" resultType="com.sceon.community.model.Question">
        SELECT
            *
        FROM
            question
        ORDER BY
            gmt_create DESC
        LIMIT
            #{offset},#{pageSize}
    </select>
    <select id="count" resultType="Integer" >
        SELECT
            count(1)
        FROM
            question
    </select>
    <select id="list"  resultType="com.sceon.community.model.Question">
        SELECT
            *
        FROM
            QUESTION
        WHERE
            creator=#{userId}
        LIMIT
            #{offset},#{pageSize}
    </select>
    <select id="countByUserId" resultType="Integer">
        SELECT
            count(1)
        FROM
            QUESTION
        WHERE
            creator=#{userId}
    </select>
    <select id="findById" resultType="com.sceon.community.model.Question">
        SELECT
            *
        FROM
            QUESTION
        WHERE
            id=#{id}
    </select>
    <update id="update" parameterType="com.sceon.community.model.Question">
        UPDATE
            QUESTION
        SET
            TITLE=#{title},DESCRIPTIONS=#{descriptions},gmt_modified=#{gmtModified},view_count=#{viewCount},comment_count=#{commentCount},TAG=#{tag}
        WHERE
            id=#{id}
    </update>
    <update id="addViewCount" parameterType="com.sceon.community.model.Question">
        UPDATE
            QUESTION
        SET
            view_count=view_count+#{viewCount}
        WHERE
            id=#{id}
    </update>
    <update id="addCommentCount" parameterType="com.sceon.community.model.Question">
        UPDATE
            QUESTION
        SET
            comment_count=comment_count+#{commentCount}
        WHERE
            id=#{id}
    </update>
    <select id="selectByRelated" parameterType="com.sceon.community.model.Question" resultMap="questionMap">
        SELECT
            *
        FROM
            question
        WHERE
            id!=#{id}
        AND
            tag REGEXP #{tag}
    </select>
    <select id="countBySerach" resultType="java.lang.Integer">
        SELECT
            count(*)
        FROM
            question
        <where>
            <if test="search != null and search != ''" >
               and title REGEXP #{search}
            </if>
        </where>
    </select>
    <select id="listBySearch" resultMap="questionMap">
        SELECT
            *
        FROM question
        <where>
            <if test="search != null and search != ''" >
                and title REGEXP #{search}
            </if>
        </where>
        ORDER BY
        gmt_create DESC
        LIMIT
        #{pageNum},#{pageSize}
    </select>
</mapper>