<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sceon.community.mapper.QuestionMapper">
    <insert id="create" parameterType="com.sceon.community.model.Question" >
        INSERT INTO QUESTION
            (id,title,descriptions,gmt_create,gmt_modified,creator,tag)
        VALUES
            (#{id},#{title},#{descriptions},#{gmtCreate},#{gmtModified},#{creator},#{tag})


    </insert>
    <select id="listQuestion" resultType="com.sceon.community.model.Question">
        SELECT
            *
        FROM
            question
        LIMIT
            #{offset},#{pageSize}
    </select>
    <select id="count" resultType="Integer" >
        SELECT
            count(1)
        FROM
            question
    </select>
    <select id="list"  resultType="com.sceon.community.model.Question">
        SELECT
            *
        FROM
            QUESTION
        WHERE
            creator=#{userId}
        LIMIT
            #{offset},#{pageSize}
    </select>
    <select id="countByUserId" resultType="Integer">
        SELECT
            count(1)
        FROM
            QUESTION
        WHERE
            creator=#{userId}
    </select>
    <select id="findById" resultType="com.sceon.community.model.Question">
        SELECT
            *
        FROM
            QUESTION
        WHERE
            id=#{id}
    </select>
    <update id="update" parameterType="com.sceon.community.model.Question">
        UPDATE
            QUESTION
        SET
            TITLE=#{title},DESCRIPTIONS=#{descriptions},gmt_modified=#{gmtModified},view_count=#{viewCount},comment_count=#{commentCount},TAG=#{tag}
        WHERE
            id=#{id}
    </update>
    <update id="addViewCount" parameterType="com.sceon.community.model.Question">
        UPDATE
            QUESTION
        SET
            view_count=view_count+#{viewCount}
        WHERE
            id=#{id}
    </update>
    <update id="addCommentCount" parameterType="com.sceon.community.model.Question">
        UPDATE
            QUESTION
        SET
            comment_count=comment_count+#{commentCount}
        WHERE
            id=#{id}
    </update>
</mapper>