<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sceon.community.mapper.UserMapper">
    <resultMap id="userMap" type="com.sceon.community.model.User">
        <!--<result column="id" property="id" jdbcType="BIGINT" />
        <result column="key" property="key" jdbcType="VARCHAR" />
        <result column="value" property="value" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="INTEGER" />-->
    </resultMap>

    <insert id="insert" parameterType="com.sceon.community.model.User">
        INSERT INTO
            user
            (id,account_id,name,token,gmt_create,gmt_modified,avatar_url)
        VALUES
            (#{id},#{accountId},#{name},#{token},#{gmtCreate},#{gmtModified},#{avatarUrl})
    </insert>
    <select id="findByToken" resultType="com.sceon.community.model.User">
        SELECT
            ID,ACCOUNT_ID,NAME,TOKEN,GMT_CREATE,GMT_MODIFIED
        FROM
            USER
        WHERE
            TOKEN=#{token}
    </select>
    <select id="findById" resultType="com.sceon.community.model.User">
        SELECT
            *
        FROM
            user
        WHERE
            id = #{id}
    </select>
    <select id="findByAccountId" resultType="com.sceon.community.model.User">
        SELECT
            *
        FROM
            user
        WHERE
            account_id=#{accountId}
    </select>
    <update id="update" parameterType="com.sceon.community.model.User">
        UPDATE
            user
        SET
            name = #{name},token=#{token},gmt_modified=#{gmtModified},avatar_url=#{avatarUrl}
        WHERE
            id=#{id}
    </update>
    <select id="listByIds" resultMap="userMap">
        SELECT
            *
        FROM
            user
        WHERE
            id IN
            <foreach item="item" index="index" collection="list" open="("
                           separator="," close=")">#{item}</foreach>
    </select>
</mapper>